.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.main-nav a, .main-nav button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #0a67ca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #033c79;
  }
  transition: background-color 0.3s ease;
}
.main-nav button {
  background-color: #dc3545; /* red for logout */
}

.btn.btn-primary {
  background-color: #158a53;
  border: outset #3d92ca;
  text-decoration: none;
}

.btn.btn-primary:hover {
  background-color: #6b0a0a;
  border: outset #961d1d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.inner-form {
  background-color: rgba(243, 138, 217, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  max-width: 90%;
  text-align: center;
}

label {
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns */
  grid-template-rows: 1fr 1fr;    /* two rows */
  gap: 20px;
  background-image: url('../images/reach.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  height: 100dvh;
  overflow: auto;
}

.chart-container, .project-section, .bar-chart-container, .task-section {
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 1rem;
  color: white;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  color : white !important;
}
