a {
  color: #0a0883;
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

.navbar {
  background-color: #1f1f1f !important;
}

.btn.btn-primary {
  background-color: #158a53;
  border: outset #3d92ca;
  text-decoration: none;
}

.btn.btn-primary:hover {
  background-color: #6b0a0a;
  border: outset #961d1d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 70dvh;
}

.inner-form {
  background-color: rgba(243, 138, 217, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  max-width: 90%;
  text-align: center;
}

label {
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}