
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #0a0883;
  text-decoration: none;
}

a:hover {
  color: #999999;
  text-decoration: underline;
}

.navbar {
  background-color: #1f1f1f !important;
}

.btn.btn-primary {
  background-color: #098a4e;
  border-color: #098a4e;
  text-decoration: none;
}

.btn.btn-primary:hover {
  background-color: #6b0a0a;
  border-color: #6b0a0a;
}
